<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div>
     <form  method="POST">
        <input name="autname" required/>
        <input name="autsurname" required/>
        <input name="autpassword" type="password" required/>
        <button type="submit">Войти</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
    </div>
</body>
</html>